<div id="results"><%= render :partial => "list", :locals => { :clients => @clients, :cntrl => 'client' }  %></div>
<% if current_user.login == 'zm-admin'%>
  <%= link_to_remote "+add", :update => 'main_div', :before => "Element.show('spinner')", :success => "Element.hide('spinner')", :method => 'get', :url => {:action => "add"}%>
<%end%>