<div>
  <div style="float:left;">
    <%= render(:partial => 'show_ab')%>
  </div>
  <div style="float:right;">
    <%= render :partial => "client/show_ph", :locals => { :client => @client, :cntrl => 'client' }  %>
  </div>
</div>